<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="form-group"
  [class.has-error]="!inputnome.valid && inputnome.touched"
  [class.has-feedback]="!inputnome.valid && inputnome.touched">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" id="nome" name="nome" 
    placeholder="Nome" [ngModel]="usuario.nome" required #inputnome="ngModel">
    <div class="alert alert-danger" role="alert" *ngIf="!inputnome.valid && inputnome.touched">
      Nome é obrigatório.
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" 
    placeholder="email@email.com" [ngModel]="usuario.email" required email #inputemail>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
