<div class="header">
    <div class="title">
      <div class="label">
        PT's da Instalação P-35
      </div>
    </div>       
</div>
<div class="filter">  
  <div class="row">
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-2">
        <label for="nome" class="control-label">Data das PTs</label>
      </div>
      <div class="col-md-10">
        <input type="checkbox"/>
        <label for="PendenciasEmitente" class="control-label">Apenas Pendências do Emitente</label>
        <input type="checkbox"/>
        <label for="MinhasPT" class="control-label">Minhas PTs</label>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary">Pesquisar</button>
      </div>
    </div>
  </div>
</div>
</div>
<div class="grid">

</div>